<%= form_for(@mobileapp) do |f| %>
  <% if @mobileapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mobileapp.errors.count, "error") %> prohibited this mobileapp from being saved:</h2>

      <ul>
      <% @mobileapp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :install_url %><br />
    <%= f.text_field :install_url %>
  </div>
  <div class="field">
    <%= f.label :relnotes_url %><br />
    <%= f.text_field :relnotes_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
